{% extends "base.html" %}
{% load i18n %}
{% block head %}
<title>sözlükus >> şifre sıfırlama</title>
{% endblock %}

{% block content %}
<div class="segment" id="mainsegment">
    <div class="container">
        <div class="introduction">
            <h1 class="ui dividing header">
                Şifre sıfırlama
            </h1>
            <p>

            </p>
        </div>
    </div>
</div>
<div class="main container page">
<p>lütfen üye olurken kullandığınız mail adresini girin, sıfırlama ile ilgili bilgiler oraya gönderilecektir.</p>

<form action="" method="post">
	{% csrf_token %}
{{ form.email.errors }}
<div class="ui left labeled icon input">
      <input type="text" placeholder="Email" class="form-control" name="email" value="" >
      <i class="mail icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
<button type="submit" class="ui blue submit button">  Gönder </button>
</form>
</div>
{% endblock %}
