{% extends "base.html" %}
{% load i18n %}
{% block head %}
<title>sözlükus >> şifre sıfırlama</title>
{% endblock %}
{% block content %}

{% if validlink %}
<div class="segment" id="mainsegment">
    <div class="container">
        <div class="introduction">
            <h1 class="ui dividing header">
                yeni şifre
            </h1>
            <p>
               &nbsp;
            </p>
        </div>
    </div>
</div>
<div class="main container page" id="mainn">
<div style="text-align: center">
<p>lütfen yeni şifrenizi iki defa girin.</p>
</div>
<form action="" method="post">
{% csrf_token %}
<div class="ui grid" style="text-align: center">

<div class="ui form segment six wide column">
 <div class="field">
    <label>Şifre</label>
    <div class="ui left labeled icon input">
      <input id="id_new_password1" type="password" placeholder="Şifre" class="form-control" name="new_password1" value="" >
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
    {% if form.password1.errors %}
<div class="ui red pointing above ui label">{{ form.new_password1.errors.as_text }}</div>
{% endif %}
  </div>


<div class="field">
    <label>Şifre(Tekrar)</label>
    <div class="ui left labeled icon input">
      <input id="id_new_password2" type="password" placeholder="Şifre(Tekrar)" class="form-control" name="new_password2" value="" >
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
    {% if form.password2.errors %}
<div class="ui red pointing above ui label">{{ form.new_password1.errors.as_text }}</div>
{% endif %}
  </div>

            <br>
       <button type="submit" class="ui blue submit button">  Kaydet </button>
</div>
</form>
</div></div>

{% else %}

<p>sıfırlama linkiniz geçersiz, lütfen yeni bir tane isteyin.</p>

{% endif %}

{% endblock %}
