{% extends "base.html" %}
{% load i18n %}

{% block head %}
<title>sözlükus >> şifre değiştirme</title>
{% endblock %}

{% block content %}

<div class="segment" id="mainsegment">
    <div class="container">
        <div class="introduction">
            <h1 class="ui dividing header">
                şifre değiştirme işlemi başarılı oldu
            </h1>
            <p>
               &nbsp;
            </p>
        </div>
    </div>
</div>
<div class="main container page">
şifrenizi değiştirdik. hayırlı olsun.
</div>
{% endblock %}

{% block content-related %}

{% endblock %}
