
{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
{% csrf_token %}
{{ form.old_password.errors }}
<div class="field">
    <div class="ui input">
        <input type="password" placeholder="Eski Şifreniz" class="form-control" name="old_password" value="" >
    </div>
</div>
<br>
{{ form.new_password1.errors }}
<div class="field">
    <div class="ui input">
        <input type="password" placeholder="Yeni Şifreniz(Tekrar)" class="form-control" name="new_password1" value="" >
    </div>
</div>
<br>
{{ form.new_password2.errors }}
<div class="field">
    <div class="ui input">
        <input type="password" placeholder="Yeni Şifreniz(Tekrar)" class="form-control" name="new_password2" value="" >
    </div>
</div>
<br>
<button type="submit" class="ui blue submit button">  Kaydet </button>
</form>



{% endblock %}

{% block content-related %}

{% endblock %}
