
{% extends "base.html" %}
{% load i18n %}

{% block head %}
<title>sözlükus >> şifre değiştirme</title>
{% endblock %}

{% block content %}

<div class="segment" id="mainsegment">
    <div class="container">
        <div class="introduction">
            <h1 class="ui dividing header">
                şifre değiştirme
            </h1>
            <p>
               &nbsp;
            </p>
        </div>
    </div>
</div>
<div class="main container page">
<form action="" method="post">
{% csrf_token %}
{{ form.old_password.errors }}
<div class="field">
    <div class="ui input">
        <input type="password" placeholder="Eski Şifreniz" class="form-control" name="old_password" value="" >
    </div>
</div>
<br>
{{ form.new_password1.errors }}
<div class="field">
    <div class="ui input">
        <input type="password" placeholder="Yeni Şifreniz(Tekrar)" class="form-control" name="new_password1" value="" >
    </div>
</div>
<br>
{{ form.new_password2.errors }}
<div class="field">
    <div class="ui input">
        <input type="password" placeholder="Yeni Şifreniz(Tekrar)" class="form-control" name="new_password2" value="" >
    </div>
</div>
<br>
<button type="submit" class="ui blue submit button">  Kaydet </button>
</form>

</div>

{% endblock %}

{% block content-related %}

{% endblock %}
